body {
    background-image: url(https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/300177534_590683456094348_2163789065686830007_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=e3f864&_nc_ohc=olv51zXb-cwAX_sy2HZ&_nc_ht=scontent.fsgn5-9.fna&oh=00_AfDg_Mf88MI0fmEvjQA3_E1L_t6Ppun0ipm1Aax7pLy9Zw&oe=6404160C);
    background-repeat: no-repeat;
    background-size: cover;
}
.form__login {
    margin: auto;
    background-color: white;    
    color: black;
    font-size: 18pt;
    height: 100%;
}
.header__login {
    color: white;
    height: 15%;
    line-height: 50px;
    background-color: brown;
    font-size: 20pt ;
}
.midle__login {
    padding-left: 10px;
    padding: 10px 10px;
    background-color: rgb(255, 227, 181);
    height: 65%;
}
.list__login {
    display: flex;
    margin-bottom: 10px;
}
.title__login {
    width: 35%;
    color: gray;
    line-height: 40px;
}
input {
    height: 30px;
    color: black;
    width: 300px;
    font-size: 18pt;
}
input:focus-visible {
    outline: none;
    color: black;
}
.saveInformation {
    text-align: center;
    display: flex;
    color: gray;
    margin-top: 10px;
}

.fa-solid {
    margin: 0 10px;
    color: white;
}
.eyePass {
    color: gray;
    padding-top: 8px;
    margin-right: 0  ;
}
.eyePass:hover {
    cursor: pointer;
}
.button {
    text-align: center;
    display: flex;
    color: gray;
}
button {
    color: white;
    margin: 10px;
    height: 50px;
    background-color: brown;
    border: none;
}
#btn__register {
    color: white;
    margin: 10px;
    height: 50px;
    width: 140px;
    background-color: brown;
    border: none;
}
button:hover {
    cursor: pointer;
}
.footer__login {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    background-color: brown;
    height: 15%;
    line-height: 50px;
    overflow: hidden;
}
.footer__login__title {
    padding: 0;
    margin: 0 5px;
    width: 100%;
    color: white;
}
.signUp__link {
    color: rgb(127, 215, 255);
    margin: 0 5px;
    width: 100%;
}
.signUp__link:hover {
    cursor: pointer;
}

.warningLogin {
    color: rgb(255, 35, 35);
    font-size: 10pt;

}

.displayLogin {
    display: none;
}
.text-red {
    color: red;
}

form {
    width: 45%;
    margin: 10px;
    position: sticky;
    box-shadow: 3px 3px 3px rgb(61, 61, 61);
}
#FormDegister {
    font-size: 15pt;
   height: 100%;
}
